<launch>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find we_r2_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- action service to forward messages to Arduino -->
  <node ns="arm_controller" name="arm_action_node" pkg="we_r2_moveit_config" type="joint_trajectory_action_node" required="true" output="screen" />

  <!-- load hardware serial interface for Arduino/listener-->
</launch>
